# TASK 5 (WEEK 3)

# *PYTHON DATA STRUCTURES*

Pythonâ€™s data structures are simple but powerful. Mastering their use is a critical part of becoming a proficient Python programmer.

In python data structure we have 
- TUPLES
- LISTS 
- DICTIONARIES 
- SETS

# *overview*

Tuples:
- Ordered collections of items, immutable (unchangeable after creation).
- Enclosed in parentheses ().
- Example: my_tuple = (10, "apple", True)
- Used for representing fixed data structures, like coordinates or database records.

Lists:
- Ordered collections of items, mutable (changeable after creation).
- Enclosed in square brackets [].
- Example: my_list = [1, "hello", 3.14]
- Used for storing sequences of data, like shopping lists or arrays of numbers.

Dictionaries:
- Unordered collections of key-value pairs.
- Enclosed in curly braces {}.
- Example: my_dict = {"name": "Alice", "age": 30}
- Used for storing and retrieving data based on keys, like phonebooks or product inventories.
    
Sets:
- Unordered collections of unique elements.
- Created using set() or curly braces {}.
- Example: my_set = {1, 2, 2, 3} (duplicates are automatically removed)
- Used for removing duplicates, performing set operations (union, intersection, difference), and testing for membership.

# 1 - *TUPLES*

In [3]:


tup1= ('sheraz',1,9.5,True)
print(tup1[0])
print(tup1[1:3])
print(tup1[1:])

tup2=('saif',2,False,8.9)

print(tup1+tup2)    
print(tup2*2)

tup3= (23,76,43,9,12,34,64)

print(max(tup3))
print(min(tup3))

sheraz
(1, 9.5)
(1, 9.5, True)
('sheraz', 1, 9.5, True, 'saif', 2, False, 8.9)
('saif', 2, False, 8.9, 'saif', 2, False, 8.9)
76
9

# 2 - *LISTS*

In [10]:
list1=[1,2,3,5,3,43,"sheraz"]
print(list1)

[1, 2, 3, 5, 3, 43, 'sheraz']

In [15]:
list2=[ 'saif' ,'asim',' tipu', 'SE']
print(list2)

['saif', 'asim', ' tipu', 'SE']

In [16]:
list3=[1,6,223,67,3,9,3,77,3,0]
print(list3)

[1, 6, 223, 67, 3, 9, 3, 77, 3, 0]

In [14]:
#performing some other Method functions

print(list1+list2)
print(list1*2)

list1.append('PAKI')
print(list1)

list1.insert(6,9)
print(list1)

list1.pop(3)
print(list1)

list1.remove('PAKI')
print(list1)

[1, 2, 3, 5, 3, 43, 9, 'sheraz', 'PAKI', 'saif', 'asim', ' tipu', 'SE']
[1, 2, 3, 5, 3, 43, 9, 'sheraz', 'PAKI', 1, 2, 3, 5, 3, 43, 9, 'sheraz', 'PAKI']
[1, 2, 3, 5, 3, 43, 9, 'sheraz', 'PAKI', 'PAKI']
[1, 2, 3, 5, 3, 43, 9, 9, 'sheraz', 'PAKI', 'PAKI']
[1, 2, 3, 3, 43, 9, 9, 'sheraz', 'PAKI', 'PAKI']
[1, 2, 3, 3, 43, 9, 9, 'sheraz', 'PAKI']

# 3 - *DICTIONARIES*

In [20]:
d1 = {'samosa':30,'pakora':20,'raita':15,'salad':25}
print(d1)

d1['tikki']=50
print(d1)

{'samosa': 30, 'pakora': 20, 'raita': 15, 'salad': 25}
{'samosa': 30, 'pakora': 20, 'raita': 15, 'salad': 25, 'tikki': 50}

In [19]:
d2= {'dates':100,'chocolates':150}
print(d2)

d1.update(d2)
print(d1)

{'dates': 100, 'chocolates': 150}
{'samosa': 30, 'pakora': 20, 'raita': 15, 'salad': 25, 'tikki': 50, 'dates': 100, 'chocolates': 150}

In [18]:
d1.keys()
print(d1.keys())

d1.values()
print(d1.values())

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'tikki', 'dates', 'chocolates'])
dict_values([30, 20, 15, 25, 50, 100, 150])

In [25]:
phonebook = {"sheraz": "123-456-7890", "baig": "987-654-3210"}
print(phonebook)

{'sheraz': '123-456-7890', 'baig': '987-654-3210'}

# 4 - *SETS*

In [27]:
s1={4,2,7,4,'sheraz', 'saif', 2.5 , 7.635}
print(type(s1))
print(s1)

s1.add('ali')
print(s1)

s1.remove(7.635)
print(s1)

<class 'set'>
{2, 2.5, 4, 7.635, 7, 'saif', 'sheraz'}
{2, 2.5, 4, 7.635, 'ali', 7, 'saif', 'sheraz'}
{2, 2.5, 4, 'ali', 7, 'saif', 'sheraz'}

In [29]:
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits)

vowels = {"a", "e", "i", "o", "u"}
print(vowels)

{'banana', 'cherry', 'apple'}
{'i', 'o', 'e', 'u', 'a'}