# __PANDAS LIBRARY__
__A powerful library in Python for data manipulation and analysis__

__Built-in funtion of Pandas Library__
- head()
- tail()
- shape()
- describe()


__SOME OTHER FUNCTIONS__
- .read_csv/excel
- .to_csv/excel
- iloc[ ] & loc[ ]
- drop()
- mean()
- median()
- max()
- min()
- apply()
- vlaue_counts()
- sort_values()
- fillna()
- dropna
- concat()
- merge()
- groupby()
- agg()

-----------------------------------------------------------------

# *PANDAS* - *SERIES*

In [173]:
# SERIES - Created with List

import pandas as pd

s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [174]:
s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [175]:
# Adding
s1 + 10

a    11
b    12
c    13
d    14
e    15
dtype: int64

In [176]:
s1 / 2

a    0.5
b    1.0
c    1.5
d    2.0
e    2.5
dtype: float64

In [177]:
s1 * 5

a     5
b    10
c    15
d    20
e    25
dtype: int64

In [178]:
# SERIES - Created with Dictionaries

s2 = pd.Series({'a':10,'b':20,'c':30,'d':40,'e':60})
s2

a    10
b    20
c    30
d    40
e    60
dtype: int64

In [179]:
s2[:4]                                              # it will print form 0 to 3

a    10
b    20
c    30
d    40
dtype: int64

In [180]:
s2[-2:]                                             # It will show last two Element

d    40
e    60
dtype: int64

In [181]:
s2[2]                                             # Extracting a signle element

C:\Users\baigs\AppData\Local\Temp\ipykernel_1848\1021238545.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[2]                                             # Extracting a signle element

30

In [182]:
# addition
s1+s2

a    11
b    22
c    33
d    44
e    65
dtype: int64

In [183]:
# addition
print(s1+s2)

# Sub
print(s1-s2)

# multiplication
print(s1*s2)

# Divison
print(s1/s2)

a    11
b    22
c    33
d    44
e    65
dtype: int64
a    -9
b   -18
c   -27
d   -36
e   -55
dtype: int64
a     10
b     40
c     90
d    160
e    300
dtype: int64
a    0.100000
b    0.100000
c    0.100000
d    0.100000
e    0.083333
dtype: float64

# *PANDAS* - *DATAFRAME*

In [184]:
# CREATING A DATAFRAME

pd.DataFrame({"Name":['sheraz','asim','saif'],'Marks':[76,80,88]})

     Name  Marks
0  sheraz     76
1    asim     80
2    saif     88

In [185]:
# pd.read_csv("")  > we use it to a load dataset if it is downloaded/Present in PC
iris = pd.read_csv("iris.csv")
iris

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [186]:
iris.head() # first 5 recods

iris.drop( columns="Unnamed: 0", inplace=True)  # Droping extra column

In [187]:
iris.tail() # # Last 5 recods

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [188]:
iris.shape

(150, 5)

In [189]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# iloc[ ] & loc[ ]
These are Dataframes, So, realted to pandas.

- iloc[ ] : When you need to select by position (integer index).
- loc[ ] :  when you need to select by label or condition.

In [190]:
iris.iloc[2:4, 1:3 ]

   sepal_width  petal_length
2          3.2           1.3
3          3.1           1.5

In [209]:
iris.loc[ 5:15 , 'petal_length':'species']

    petal_length  petal_width species
5            1.7          0.4  setosa
6            1.4          0.3  setosa
7            1.5          0.2  setosa
8            1.4          0.2  setosa
9            1.5          0.1  setosa
10           1.5          0.2  setosa
11           1.6          0.2  setosa
12           1.4          0.1  setosa
13           1.1          0.1  setosa
14           1.2          0.2  setosa
15           1.5          0.4  setosa

# DROPING ROWS

In [192]:
iris.drop( columns="sepal_width")

     sepal_length  petal_length  petal_width    species
0             5.1           1.4          0.2     setosa
1             4.9           1.4          0.2     setosa
2             4.7           1.3          0.2     setosa
3             4.6           1.5          0.2     setosa
4             5.0           1.4          0.2     setosa
..            ...           ...          ...        ...
145           6.7           5.2          2.3  virginica
146           6.3           5.0          1.9  virginica
147           6.5           5.2          2.0  virginica
148           6.2           5.4          2.3  virginica
149           5.9           5.1          1.8  virginica

[150 rows x 4 columns]

# Counting Values

In [207]:

iris.value_counts(["species"])

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

# Sorting

In [208]:
iris.sort_values(by='petal_length')

     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]